*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* Root Color  */
:root{
    --primary-color:#344955;
    --secondary-color:#656565;
    --dark-color:#404040;
}
body{
    font-family: open sans,Arial,Helvetica;
}

/* Navbar  */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#292A38;
    
    justify-content: space-evenly;
    color: white;
    padding: 40px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    
    
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}
.nav-links li a{
    color: #7E879B;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 0.3s ease-in-out;
}
.nav-links li a:hover{
    color: white;
}
.logo{
    font-size: 2rem;
    letter-spacing: 1.5px;
}
.lang{
    padding: 10px 30px;
    background-color:#303242;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    width: 100%;  
}
.eng{
    margin-right: 10px;
    margin-left: 5px;
}
.fa-globe,.fa-chevron-down{
    color: #7E879B !important;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.lang:hover .fa-chevron-down{
    color: white !important;
}
.lang:hover .fa-globe{
    color: white !important;
}
.lang:hover a{
    color: white;
}
.lang-container{
    width: 100px;
    
}
.lang a{
    flex: 1;
}

img{
    width: 100%;
    height: 100%;
}
/* Showcase   */
.showcase{
    height: 100vh;
    width: 100%;

}
.showcase-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    z-index: 44;
    background-color: #303242;
    color: white;
}
.showcase-container p{
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 1.2px;
}
.showcase-container h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.img-div{
    background-color: lightcoral;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background: url('./img/hero.webp')no-repeat center center/cover;
    overflow: hidden;
}
.img-div:hover{
    transform: scale(1.04);
}
.content-div{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}


.btn{
    background-color: #C59160;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}
.btn:hover{
    opacity: 0.9;
}


/* Service  */
.service{
    background-color: #F0F0F0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.service-container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.3;
}
.service-container h1{
    color: #303242;
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}
.service-container p{
    margin: 2rem 0;
    letter-spacing: 0.7px;
    
}
.menu{
    background: #394359;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-container{
    width: 70%;
    /* background: lightblue; */
    height: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu-container h1{
    margin-bottom: 2rem;
    color: white;
    font-size: 2.7rem;
}
.menu-container p{
    margin-bottom: 1rem;
    color: white;
    font-size: 18px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    /* background-color: lightgrey; */
    width: 100%;
    
}


.card{
    height: 400px;
    width: 500px;
    background-color: lightcoral;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}
.card-body{
    background: rgba(255, 255, 255, 0.7);
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    
}
.card-body h1{
    color: black;
    font-size: 2.5rem;
}
.card1{
    background: url('./img/cofee.webp')no-repeat center center/cover;
}
.card2{
    background: url('./img/imageProxy.webp')no-repeat center center/cover;
}
.contact{
    height: 600px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 80%;
    height: 90%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form{
    /* background-color: lightcoral; */
}
.contact-form h1{
    font-size: 2.4rem;
}
.contact-form form{
    width: 100%;
    
}
.contact-form form input,.contact-form textarea{
    width: 90%;
    padding: 8px;
    border: 1px solid gray;
}
.contact-form textarea{
    height: 100px;
}
.form-div{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.form-div small{
    margin-bottom: 5px;
    color: #A1C0C4;
    font-size: 16px;
}
.form-div a{
    display: inline-block;
    width: 30%;
    height: auto;
    margin-top: 1rem;
    
}
.map{
    background-color: lightgray;
    background: url('./img/google-maps-marker.png')no-repeat center center/cover;
}
.photos{
display: flex;
align-items: center;
flex-wrap: wrap;
background-color: #F0F0F0;
justify-content: center;
}
.photo-div{
    height: 300px;
    width: 365px;
    margin: 5px;
    cursor: pointer;
}

.div-1{
    background: url('./img/img1.webp')no-repeat center center/cover;
}

.div-2{
    background: url('./img/img2.webp')no-repeat center center/cover;
}
.div-3{
    background: url('./img/img3.webp')no-repeat center center/cover;
}
.div-4{
    background: url('./img/img4.webp')no-repeat center center/cover;
}
.div-5{
    background: url('./img/img5.webp')no-repeat center center/cover;
}
.div-6{
    background: url('./img/img6.webp')no-repeat center center/cover;
}

.div-7{
    background: url('./img/img7.webp')no-repeat center center/cover;

}
.div-8{
    background: #BA6C65;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-8 h2{
    font-family: monospace;
    font-size: 2rem;
    margin-bottom: 1rem;

}
.div-8 p{
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
    color: #E2B696;
}

.hello{
    background: #292A38;
    height: 400px;
}
.hello-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100%;
    gap: 10px;
    
}

.hello-div{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.hello-div h1{
    color: #F2BE8D;
    margin-bottom: 1rem;
}

.hello-div p{
    margin: 1rem 0;
    font-size: 16px;
    color: white;
    font-weight: lighter;
}
.social i{
    color: #F2BE8D;
    margin-right: 5px;
    cursor: pointer;
}
footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0C162C;
    color: white;
}

@media(max-width:780px){
    .showcase .img-div{
        height: 40vh;
    }
    .showcase .content-div{
        height: 30vh;
    }
    .showcase .content-div h1{
        font-size: 2.2rem;
    }
    .nav-links{
        justify-content: space-between;
    }
    .show{
        display: none;
    }
.service{
    height: auto;
    }
    .service-container{
        width: 100%;
        padding: 10px;
    }
    .service-container h1{
        font-size: 2.2rem;
    }
    .card-body h2{
        font-size: 1.9rem;
    }
    .card-body a{
        margin-bottom: 2rem;
    }
    .showcase-container{
        grid-template-columns: 1fr ;
    }
   .menu{
       height: auto;
   }
   .menu-container{
       display: flex;
       flex-direction: column;
       width: 100%;
   }
   .menu-container h1{
       margin: 2rem;
   }
   .card-container{
       display: flex;
       flex-direction: column;
    
    align-items: center;
    justify-content: center;
   }
   .card{
       height: 350px;
       width: 350px;
   }
   .card-body {
       height: 60%;
   }
   .card-body h2{
       font-size: 1.3rem;
   }
   
   
    .photo-div{
        height: 200px;
        width: 200px;
    }
   .map{
       display: none;
   }
    .contact-container{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
    
    .hello{
        padding: 1rem 0;
        height: auto;
    }
    .hello-container{
        grid-template-columns: 1fr;
    }
    .hello-div{
        margin: 1rem 0;
    }
    
}


@media(max-width:550px){
    .photo-div{
        height: 100px;
        width: 120px;
    }
    .hello-div p{
        font-size: 14px;
    }
footer p{
    font-size: 10px;
}
}